networks:
  web:
    external: true

services:
  portfolio:
    container_name: portfolio
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
      VIRTUAL_HOST: nubcoder.com
      LETSENCRYPT_HOST: nubcoder.com
      VIRTUAL_PORT: "8080"
    expose:
      - "8080"
    networks:
      - web
